USE [master]
GO
/****** Object:  Database [MatchAndRoll]    Script Date: 9/10/2026 15:46:37 ******/
CREATE DATABASE [MatchAndRoll]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MatchAndRoll', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MatchAndRoll.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MatchAndRoll_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MatchAndRoll_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MatchAndRoll].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MatchAndRoll]
GO
/****** Object:  User [alumno]    Script Date: 9/10/2026 15:46:37 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Etiquetas]    Script Date: 9/10/2026 15:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiquetas](
	[idEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[nombreEtiqueta] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Etiquetas] PRIMARY KEY CLUSTERED 
(
	[idEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 9/10/2026 15:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[idMatch] [int] IDENTITY(1,1) NOT NULL,
	[idUsuarioSolicitante] [int] NOT NULL,
	[idUsuarioReceptor] [int] NOT NULL,
	[fechaMatch] [datetime] NOT NULL,
	[estadoMatch] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMatch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProyectosMusicales]    Script Date: 9/10/2026 15:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProyectosMusicales](
	[idProyecto] [int] IDENTITY(1,1) NOT NULL,
	[idUsuarioCreador] [int] NOT NULL,
	[nombreProyecto] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[enlaceDemostracion] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 9/10/2026 15:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[idReserva] [int] IDENTITY(1,1) NOT NULL,
	[idSala] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[fechaHoraInicio] [datetime] NOT NULL,
	[fechaHoraFin] [datetime] NOT NULL,
	[montoTotal] [decimal](10, 2) NOT NULL,
	[estadoReserva] [varchar](30) NOT NULL,
	[resenaComentario] [varchar](500) NULL,
	[puntajeResena] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalasEnsayo]    Script Date: 9/10/2026 15:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalasEnsayo](
	[idSala] [int] IDENTITY(1,1) NOT NULL,
	[idUsuarioDueno] [int] NOT NULL,
	[idUbicacion] [int] NOT NULL,
	[nombreSala] [varchar](100) NOT NULL,
	[direccion] [varchar](200) NOT NULL,
	[precioPorHora] [decimal](10, 2) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[equipamiento] [varchar](500) NULL,
	[horarioApertura] [time](7) NULL,
	[horarioCierre] [time](7) NULL,
	[duracionTurnoHoras] [int] NULL,
	[resenaPromedio] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicaciones]    Script Date: 9/10/2026 15:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[idUbicacion] [int] IDENTITY(1,1) NOT NULL,
	[provincia] [varchar](100) NULL,
	[ciudad] [varchar](100) NULL,
	[barrio] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/10/2026 15:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[tipoUsuario] [varchar](50) NOT NULL,
	[biografia] [varchar](500) NULL,
	[instrumentoPrincipal] [varchar](100) NULL,
	[nivelExperiencia] [varchar](30) NULL,
	[idUbicacion] [int] NULL,
	[genero] [varchar](50) NOT NULL,
	[apodo] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL,
 CONSTRAINT [PK__Usuarios__5B65BF9779E2A8E8] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D1053471765528]    Script Date: 9/10/2026 15:46:38 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ__Usuarios__A9D1053471765528] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Match_UsuarioReceptor] FOREIGN KEY([idUsuarioReceptor])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Match_UsuarioReceptor]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Match_UsuarioSolicitante] FOREIGN KEY([idUsuarioSolicitante])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Match_UsuarioSolicitante]
GO
ALTER TABLE [dbo].[ProyectosMusicales]  WITH CHECK ADD  CONSTRAINT [FK_Proyecto_Usuario] FOREIGN KEY([idUsuarioCreador])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[ProyectosMusicales] CHECK CONSTRAINT [FK_Proyecto_Usuario]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Sala] FOREIGN KEY([idSala])
REFERENCES [dbo].[SalasEnsayo] ([idSala])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reserva_Sala]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reserva_Usuario]
GO
ALTER TABLE [dbo].[SalasEnsayo]  WITH CHECK ADD  CONSTRAINT [FK_Sala_Ubicacion] FOREIGN KEY([idUbicacion])
REFERENCES [dbo].[Ubicaciones] ([idUbicacion])
GO
ALTER TABLE [dbo].[SalasEnsayo] CHECK CONSTRAINT [FK_Sala_Ubicacion]
GO
ALTER TABLE [dbo].[SalasEnsayo]  WITH CHECK ADD  CONSTRAINT [FK_Sala_Usuario] FOREIGN KEY([idUsuarioDueno])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[SalasEnsayo] CHECK CONSTRAINT [FK_Sala_Usuario]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Ubicacion] FOREIGN KEY([idUbicacion])
REFERENCES [dbo].[Ubicaciones] ([idUbicacion])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuario_Ubicacion]
GO
USE [master]
GO
